@font-face {
  font-family: 'Arial';
  src: local('Arial'), local('Arial'), url(../fonts/arial/Arial.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Times New Roman';
  src: local('Times New Roman'), local('Times-New-Roman'), url(../fonts/times-new-roman/Times-New-Roman.ttf) format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Verdana';
  src: local('Verdana'), local('Verdana'), url(../fonts/verdana/Verdana.ttf) format('truetype');
  font-style: normal;
}